<main class="form-wrapper">
    <form class="form">
        <h2 class="titulo">Nova transação</h2>

        <div class="campos">
            <label class="campo-grupo">
                Transação
                <div class="select-wrapper">
                    <select name="tipo-transacao" class="campo select-tipo-transacao" required>
                        <option value="" selected disabled>Selecione o tipo de transação</option>
                        <option value="deposito">Depósito</option>
                        <option value="saque">Saque</option>
                    </select>
                </div>
            </label>
        </div>
    </form>
</main>